/* #1a050a COLOR DE FONDO DEL JPG*/
body {
	background-image: url("../images/fondo.jpg");
/*	font-family:Lovecraftian;*/
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del body al 100% del viewport height */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
	display: flex;
    flex-direction: column; /* Establece la dirección de los elementos hijos como columna */
	color: #fff;
	animation: moveBackground 200S linear infinite; /* Aplica la animación al fondo */
}

header{
	height: 22%;
    text-align: center;
    padding-bottom: 40px;
	display: flex;
	display-content: row;
	font-family:Unutterable-z8E8X;
}

.logo-container {
	padding-top: 20px;
	padding-left: 20px;
    margin-right: auto; /* Empuja el contenedor de texto a la derecha */
}

#logo {
    width: 170px;
    height: 170px;
    transition: transform 0.3s ease; /* Añade una transición suave */
}

#logo:hover {
    content: url(../images/Logo-Imagen-Peq2.png); /* Cambia la imagen al pasar el ratón por encima */
    transform: scale(1.1); /* Opcional: añade un ligero aumento de tamaño al pasar el ratón */
}

header .text-container {
    text-align: center;
    flex-grow: 1; /* Permite que el contenedor de texto crezca */	
}

header h1{
	font-size: 40pt;
	font-family: "Curse of the Zombie";
	word-spacing: 30px;	
	margin-bottom: 0.5em;
}

header p {
    font-weight: bold;
    font-size: 15pt;
    background-color: rgba(26, 5, 10, 0.7); /* Color de fondo con opacidad */
    border-radius: 5px;
    display: inline; /* Hace que el fondo solo ocupe el espacio del texto */   
	margin-top: 0.5em;
}

.separador{
	width: 210px;
	padding-right: 20px;
}


nav{	
	height : 3%;
	padding-bottom: 10px;
	padding-top: 10px;	
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family:Unutterable-z8E8X;
	
}

nav a{
	color: white;
	text-decoration: none;
	margin-right: 10px;
	background-color: rgba(26, 5, 10, 0.7); /* Color de fondo con opacidad */
    border-radius: 5px;
	
}
nav a:hover {
            font-weight: bold;
            font-size: 14pt;
}

main {
    display: flex;
    flex-direction: column;
    height: 72%;
    flex: 1; /* Hace que el main ocupe todo el espacio restante vertical */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
    padding: 1px;
}


.contenedor {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: rgba(26, 5, 10, 0.7); /*  Color de fondo con opacidad */
    border-radius: 5px;
    width: 100%;
}
.img-izq {
    margin-right: 10px; /* Ajusta el margen según sea necesario */
}
.caption-izq {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-right: 10px; /* Alinea el texto con la imagen */
}

.img-der {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
	margin-right: 30px;
}
.caption-der {
    text-align: left; /* Alinea el texto a la izq */
    margin-left: 10px; /* Alinea el texto con la imagen */
}
.contenedor p{
	margin-right: 30px;
	text-align: justify;
	font-size: 1.2em;
}
figcaption{
	font-size: 14px;
}

.contenedorabajo {
    flex: 1;
    background-color: rgba(26, 5, 10, 0.7); /* Color de fondo con opacidad */
    border-radius: 5px;
    margin-top: 10px; /* Espacio entre contenedor y contenedorabajo */
    padding: 10px;
    display: flex;
	flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}


.contenedorabajo ol {
    padding-left: 20px; /* Ajusta según tus necesidades */
	font-size: 1.2em;
}

.contenedorabajo ul {
    padding-left: 20px; /* Ajusta según tus necesidades */
}



footer{
	
	padding-top: 5px;
	display:flex;
	flex-direction: row;
	
    justify-content: center;
	font-family:Unutterable-z8E8X;
}
.qr{
	padding-right: 5px;
}
#qrcode-small {
    cursor: pointer;
}



#weather-temp {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
}

@font-face{
	font-family: 'Unutterable-z8E8X';
	src:url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.woff"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.ttf"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.eot"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.svg");
}

@font-face{
	font-family: 'Curse of the Zombie';	src:url("../fonts/Curse of the Zombie/Curse of the Zombie.woff"),url("../fonts/Curse of the Zombie/Curse of the Zombie.ttf"),url("../fonts/Curse of the Zombie/Curse of the Zombie.eot"),url("../fonts/Curse of the Zombie/Curse of the Zombie.svg");
}

/* Definir la animación para el movimiento de ida y vuelta del fondo*/
@keyframes moveBackground {
    0%, 100% {
        background-position: 0 200%; /* Posición inicial y final: izquierda */
    }
    50% {
        background-position: 100% 0; /* Posición en el medio: derecha */
    }
}



.thumbnails {
  display: flex;
  transition: transform 0.3s ease;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 5px;
  cursor: pointer;
}



.full-image-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.full-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}


/* Estilos para móviles */
@media (max-width:480px){
    body {
        font-size: 14px;
    }
	
    header h1 {
        font-size: 18pt;
    }
    header p {
        font-size: 10pt;
    }
 
    .contenedor {
        flex-direction: column;				
		align-items: center;		
    }
	.contenedorabajo{
		flex-direction: column;				
		align-items: center;	
	}
    
    #logo {
        width: 150px;
        height: 150px;
    }
}

/* Estilos para tablets */
@media (min-width:481px) and (max-width:768px){
   	body {
        font-size: 14px;
    }
	
    header h1 {
        font-size: 22pt;
    }
    header p {
        font-size: 10pt;
    }
    .contenedor {
        flex-direction: column;				
		align-items: center;		
    }
	.contenedorabajo{
		flex-direction: column;				
		align-items: center;	
	}
    
    #logo {
        width: 150px;
        height: 150px;
    }
}

/* Estilos para portátiles */
@media (min-width:769px) and (max-width:1024px) {
    body {
        font-size: 14px;
    }
	
    header h1 {
        font-size: 26pt;
    }
    header p {
        font-size: 10pt;
    }	
    .contenedor {
        flex-direction: column;				
		align-items: center;		
    }
	.contenedorabajo{
		flex-direction: column;				
		align-items: center;	
	}
    #logo {
        width: 150px;
        height: 150px;
    }
@media (min-width:1400px){	
 	body {
        font-size: 20pt;		
    }	
    header h1 {
        font-size: 60pt;
    }
    header p {
        font-size: 16pt;
    }
    	
	#logo {
        width: 250px;
        height: 250px;
    }
}