body {
	background-image: url("../images/fondo.jpg");
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del body al 100% del viewport height */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
	display: flex;
    flex-direction: column; /* Establece la dirección de los elementos hijos como columna */
	color: #fff;
}
header{
    text-align: center;
    padding: 20px 0;
	display: flex;
	display-content: row;
}

footer{
    text-align: center;
   
}

header img {
    margin-left: 20px; /* Margen izquierdo para la imagen */
}

main{	
	flex: 1; /* Hace que el main ocupe todo el espacio restante vertical */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}
main img{
	width: 190px;
	height: 190px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Ajusta según sea necesario */
	
}

.tabs {
    margin-bottom: 20px;
}

.tablink {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
	margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tablink:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    text-align: center;
}

#tab1, #tab2{	
	display: -webkit -flex;
	display: -moz -flex;
	display: flex;
	flex-direction: row;
}

#d1, #d2, #d3, #d4{
	width: 25%;
}