/* #1a050a COLOR DE FONDO DEL JPG*/
body {
	background-image: url("../images/fondo.jpg");
/*	font-family:Lovecraftian;*/
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del body al 100% del viewport height */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
	display: flex;
    flex-direction: column; /* Establece la dirección de los elementos hijos como columna */
	color: #fff;
	animation: moveBackground 200S linear infinite; /* Aplica la animación al fondo */
}

header{
	height: 22%;
    text-align: center;
    padding-bottom: 40px;
	display: flex;
	display-content: row;
	font-family:Unutterable-z8E8X;
}

.logo-container {
	padding-top: 20px;
	padding-left: 20px;
    margin-right: auto; /* Empuja el contenedor de texto a la derecha */
}

#logo {
    width: 210px;
    height: 210px;
    transition: transform 0.3s ease; /* Añade una transición suave */
}

#logo:hover {
    content: url(../images/Logo-Imagen-Peq2.png); /* Cambia la imagen al pasar el ratón por encima */
    transform: scale(1.1); /* Opcional: añade un ligero aumento de tamaño al pasar el ratón */
}

header .text-container {
    text-align: center;
    flex-grow: 1; /* Permite que el contenedor de texto crezca */	
}

header h1{
	font-size: 40pt;
	font-family: "Curse of the Zombie";
	word-spacing: 30px;	
	margin-bottom: 0.5em;
}

header p {
    font-weight: bold;
    font-size: 15pt;
    background-color: rgba(26, 5, 10, 0.7); /* Color de fondo con opacidad */
    border-radius: 5px;
    display: inline; /* Hace que el fondo solo ocupe el espacio del texto */   
	margin-top: 0.5em;
}

.separador{
	width: 210px;
	padding-right: 20px;
}

nav{	
	height : 3%;
	padding-bottom: 10px;
	padding-top: 10px;	
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family:Unutterable-z8E8X;
	
}

nav a{
	color: white;
	text-decoration: none;
	margin-right: 10px;
	background-color: rgba(26, 5, 10, 0.7); /* Color de fondo con opacidad */
    border-radius: 5px;
	
}
nav a:hover {
            font-weight: bold;
            font-size: 14pt;
}

main{
	height: 72%;
	flex: 1; /* Hace que el main ocupe todo el espacio restante vertical */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */	
	padding:1px;
}

.contenedor {
    display: flex;
    height: 100%; /* Altura del div contenedor (ajustar según necesidad) */
    background-color: rgba(26, 5, 10, 0.7); /*  Color de fondo con opacidad */
    border-radius: 5px;    
}


footer{
	padding-top: 5px;
	display:flex;
	flex-direction: row;
	
    justify-content: center;
	font-family:Unutterable-z8E8X;
}
.qr{
	padding-right: 5px;
}
#qrcode-small {
    cursor: pointer;
}



#weather-temp {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Tamaño de fuente opcional */
}

@font-face{
	font-family: 'Unutterable-z8E8X';
	src:url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.woff"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.ttf"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.eot"),url("../fonts/Unutterable-z8E8X/Unutterable-z8E8X.svg");
}

@font-face{
	font-family: 'Curse of the Zombie';	src:url("../fonts/Curse of the Zombie/Curse of the Zombie.woff"),url("../fonts/Curse of the Zombie/Curse of the Zombie.ttf"),url("../fonts/Curse of the Zombie/Curse of the Zombie.eot"),url("../fonts/Curse of the Zombie/Curse of the Zombie.svg");
}

/* Definir la animación para el movimiento de ida y vuelta del fondo*/
@keyframes moveBackground {
    0%, 100% {
        background-position: 0 200%; /* Posición inicial y final: izquierda */
    }
    50% {
        background-position: 100% 0; /* Posición en el medio: derecha */
    }
}
.gallery-container {
  margin-top: 20px;
  position: relative;
}

.thumbnails-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  transition: transform 0.3s ease;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 5px;
  cursor: pointer;
}



.full-image-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.full-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}


/* Estilos para móviles */
@media (max-width:480px){
    body {
        font-size: 14px;
    }
    header h1 {
        font-size: 24pt;
    }
    header p {
        font-size: 12pt;
    }
    .contenedor {
        flex-direction: column;
    }
    .izquierda, .derecha {
        flex: none;
        width: 100%;
    }
    #logo {
        width: 150px;
        height: 150px;
    }
}

/* Estilos para tablets */
@media (min-width:481px) and (max-width:768px){
    body {
        font-size: 16px;
    }
    header h1 {
        font-size: 32pt;
    }
    header p {
        font-size: 14pt;
    }
    .contenedor {
        flex-direction: column;
    }
    .izquierda, .derecha {
        flex: none;
        width: 100%;
    }
    #logo {
        width: 180px;
        height: 180px;
    }
}

/* Estilos para portátiles */
@media (min-width:769px) {
    body {
        font-size: 18px;
    }
    header h1 {
        font-size: 36pt;
    }
    header p {
        font-size: 2zpt;
    }
    .contenedor {
        flex-direction: row;
    }
    .izquierda, .derecha {
        flex: 1;
        width: auto;
    }
    #logo {
        width: 200px;
        height: 200px;
    }
}

/* Estilos para landscape en dispositivos pequeños */
@media (max-width: 768px) and (orientation: landscape) {
    body {
        font-size: 16px;
    }
    header h1 {
        font-size: 30pt;
    }
    header p {
        font-size: 14pt;
    }
    .contenedor {
        flex-direction: column;
    }
    .izquierda, .derecha {
        flex: none;
        width: 100%;
    }
    #logo {
        width: 180px;
        height: 180px;
    }
}