body{background-color:darkblue; color:white; font-size:11pt}
h2{text-align:center; color:violet; font-size:14pt; font-weight:bold}
.resalta{font-size:14pt; text-align:center; color:orange}
span.rojo{font-size:14; color:red}
span.verde{font-size:16; color:green; font-style:italic}
span.azul{font-size:18; color:lightblue; font-style:underline}

